#navbar {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}

#leftnav {
  margin: 1px;
  padding: 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#leftlink {
  padding: 0px 0px 0px 15px;
  display: inline-block;
}

#leftlink:hover {
  text-decoration: underline;
}

#buttonbox {
  width: 571px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 0px 0px;
}

#submitbutton {
  height: 36px;
  padding: 0px 16px;
  margin: 11px 4px;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  border-radius: 4px;
  color: #5f6368;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  user-select: none;
}

#submitbutton:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

#leftfooter {
  color: #5f6368;
  cursor: pointer;
  color: #5f6368;
}

#leftfooter:hover {
  color: #5f6368;
}

#leftlink-footer {
  padding-left: 27px;
  display: inline-block;
}

#leftlink-footer:hover {
  text-decoration: underline;
}

#rightnav {
  margin: 8px;
  padding: 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#rightlink {
  display: inline-block;
  padding: 0px 15px 0px 0px;
}

#rightlink:hover {
  opacity: 0.85;
  text-decoration: underline;
}

#rightlink-footer {
  display: inline-block;
  padding: 0px 23px 0px 0px;
  color: #5f6368;
  cursor: pointer;
}

#rightlink-footer:hover {
  opacity: 0.85;
  text-decoration: underline;
  color: #5f6368;
}

.mail-link {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.footer-link {
  color: #5f6368;
  text-decoration: none;
}

#apps {
  background: url("https://andyglover.github.io/odin_google-homepage/appsoff.png")
    no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-position: center;
  width: 16px;
  height: 30px;
  padding: 0px 7px 0px 7px;
}

#apps:hover {
  opacity: 0.85;
}

#signinbutton {
  padding: 0px 12px;
  height: 30px;
  background-color: rgb(66, 133, 244);
  border: 0px;
  border-radius: 2px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.Google-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 109px;
  margin-bottom: 27px;
}

.site-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
  padding: 0px 8px 0px 0px;
  min-width: 476px;
  width: 580px;
}

.site-search:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.lupa {
  width: 20px;
  height: 20px;
}

.lupa-parent {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 20px;
  height: 40px;
  padding: 5px 13px 0 16px;
  fill: #9aa0a6;
}

.search {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 100%;
  height: 34px;
  font-size: 16px;
}

.search-parent {
  display: flex;
  flex: 100%;
}

.search:focus {
  outline: none;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#footeralign {
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
  padding-right: 8px;
  /*line-height: 40px;*/
}
